<li id="comment_<%=comment.id%>">
  <div class="media my-2">
    <div class="media-left">
      <%= link_to image_tag(avatar_url(comment.user), class: "rounded-circle user-photo", title: comment.user.name), comment.user %>
    </div>
    <div class="comment-content">
      <div class="panel-heading">
        <strong><%= link_to comment.user.name, comment.user%></strong>님 <span class="text-muted"><%= "#{time_ago_in_words(comment.created_at)} 전" %> </span>
        <%= link_to content_tag(:i, "", class: ["far", "fa-comment-dots"]), polymorphic_path([:reply, comment.commentable, comment]), remote: true %>
        <% if (current_user.has_role? :admin or comment.user == current_user) %>
          <%= link_to content_tag(:i, "", class: ["fas", "fa-edit"]), polymorphic_path([:edit, comment.commentable, comment]), remote: true %>
          <%= link_to content_tag(:i, "", class: ["far", "fa-times-circle"]), [comment.commentable, comment], method: :delete, data: { confirm: "정말 삭제하시겠습니까?" } %>
        <% end %>
      </div>
      <div class="panel-body">
        <%= comment.content %>
      </div>
    </div>
  </div>

  <% if comment.replies.any? %>
    <ul>
      <%= render comment.replies %>
    </ul>
  <% end %>
</li>
