<li id="comment_<%=comment.id%>">
  <div class="comment-content">

    <%= comment.content %>
    <%= time_ago_in_words(comment.created_at) %> 전에 
    <%= comment.user.email %>가 썼음

    <%= link_to "Reply", polymorphic_path([:reply, comment.commentable, comment]), class: 'reply-comment-link', remote: true  %>

  </div>

  <% if comment.replies.any? %>
    <ul>
      <%= render comment.replies %>
    </ul>
  <% end %>
</li>
