<div id="comments_form" class="media">
  <div class="media-left">
    <%= image_tag user_avatar(current_user, 30), class: "rounded-circle" %>
  </div>
  <div class="media-body align-self-center">
    <%= form_for([commentable, Comment.new], remote: true) do | f | %>
      <%= f.hidden_field :parent_id, value: local_assigns[:parent_id]  %>
      <div class="input-group">
        <%= f.text_field :content, require: true, maxlength: '200', class: "form-control form-control-sm my-auto rounded", placeholder: "댓글을 입력하세요." %>
        <%= f.submit '입력', class: "btn btn-outline-secondary btn-sm mx-2" %>
        <!--
        <span class="input-group-btn">
          <%#= f.submit '입력', class: "btn btn-outline-secondary btn-sm" %>
        </span>
        -->
      </div>
    <% end %>
  </div>
</div>
