<div class="card my-4 text-center">
  <div class="card-body">
    <div class="my-2">
      <%= link_to image_tag(group_cover_image(@group), size: "200x200", style: "border-radius: 10%;"), @group %>
    </div>
    <h5 class="card-title mb-2"><%= link_to @group.name, @group %></h5>
    <div class="mb-2 px-4 text-left small-font">
      <%= @group.description %>
    </div>
  </div><!-- card-body -->
  <div class="list-group list-group-flush">
    <li class="list-group-item">
      <div>
        동아리 상태:
          <% if @group.group_state == 'active' %>
            활동중
          <% elsif @group.group_state == 'suspend' %>
            활동정지
          <% elsif @group.group_state == 'pending' %>
            승인대기
          <% end %>
      </div>
      <div>
        동아리 회원: <%= @group.user_groups.where(state: 'active').count %>명
      </div>
    </li>
    <li class="list-group-item">
      <% if !current_user.groups.include?(@group) %>
        <%= link_to "동아리 가입 요청", apply_group_path(@group), class: 'btn btn-primary btn-block' %>
      <% elsif current_user.groups.include?(@group) and current_user.user_groups.find_by_group_id(@group.id).state == "pending" %>
        <%# elsif current_user.groups.include?(@group) and UserGroup.where(user_id: current_user.id, group_id: @group.id).first.state == "pending" %>
        <%= form_tag cancel_apply_group_path(@group), method: "delete" do %>
          <%= hidden_field_tag :apply_user_id, current_user.id %>
          <button type="submit" class="btn btn-danger btn-block">동아리 가입 요청 취소</button>
        <% end %>
      <% elsif current_user.user_groups.find_by_group_id(@group.id).state == "active" %>
        <%= link_to "동아리 나가기",  leave_group_path(@group), class: 'btn btn-danger btn-block', method: 'delete', data: { confirm: 'Are you sure?' } %>
      <% end %>
      <% if current_user.has_role? :group_manager, @group %>
        <%= link_to "동아리 관리",  group_manager_path(@group), class: 'btn btn-warning btn-block' %>
      <% end %>
    </li>
  </div>
</div><!-- card -->

<div class="card my-4 text-center additional-information">
  <div class="card-body">
    <h5 class="card-title">동아리 회원</h5>
    <div class="dt-info-list">

      <% @users.each do |u| %>
        <div class="media align-items-center">
          <div class="media-left">
            <%= link_to image_tag(user_avatar(u, 30), class: "rounded-circle", title: u.name), u %>
          </div><!-- media-left -->
          <div class="media-body content">
            <div class="row">
              <div class="col-7">
                <div>
                  <strong><%= link_to u.name, u%></strong>
                  <span class="small-font">
                    <% if u.has_role? :group_manager, @group %>
                      <%= "관리자" %>
                    <% end %>
                  </span>
                </div>
                <div>
                  <% lastone = (u.posts.where(post_recipient_type: "Group").pluck(:id) & PostRecipientGroup.where(recipient_group_id: @group.id).pluck(:post_id)).last %>
                  <% unless lastone.nil? %>
                    <span class="small-font">마지막 활동: <%= time_ago_in_words(Post.find(lastone).created_at) %> 전</span>
                  <% else %>
                    <span class="small-font">아직 등록한 글이 없음</span>
                  <% end %>
                </div>
              </div><!-- col-7 -->

            </div><!-- row -->
          </div><!-- media-body content -->
        </div><!-- media -->
      <% end %>

    </div><!-- dt-info-list -->
  </div><!-- card-body -->
</div><!-- card -->
