<div class="row" py-2>
  <div class="d-none d-md-block col-md-4 order-md-2 md-4 text-center">

    <div class="card my-4 text-center">
      <div class="card-body">
        <div class="my-2">
          <%= link_to image_tag(group_cover_image(@group), size: "200x200", style: "border-radius: 10%;"), @group %>
        </div>
        <h5 class="card-title mb-2"><%= link_to @group.name, @group %></h5>
        <div class="mb-2 px-4 text-left small-font">
          <%= @group.description %>
        </div>
      </div><!-- card-body -->
      <% if current_user.has_role? :group_manager, @group %>
        <div class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to "동아리 정보 수정", edit_group_path(@group), class: 'btn btn-info btn-block' %>
            <%= link_to "동아리 삭제", group_path(@group), method: :delete, class: 'btn btn-danger btn-block', data: { confirm: '정말 그룹을 삭제하시겠습니까? 그룹 멤버가 단 한명이고, 그게 관리자인 당신이라면 삭제할 수 있습니다.' } %>
          </li>
        </div><!-- card-body -->
      <% end %>
    </div><!-- card -->

    <%# @users.each do |u| %>
      <%# if u.user_groups.where(state: 'active').pluck(:group_id).include?(@group.id) %>
      <!-- users를 순회하면서 active/suspend/pending user를 골라내기 -->

    <% if @active_users.present? %>
      <div class="card my-4 text-center additional-information">
        <div class="card-body">
          <h5 class="card-title">활동중인 회원</h5>
          <% @active_users.each do |u| %>
            <div class="media align-items-center">
              <div class="media-left">
                <%= link_to image_tag(user_avatar(u, 30), class: "rounded-circle", title: u.name), u %>
              </div><!-- media-left -->
              <div class="media-body content">
                <div class="row">
                  <div class="col-7">
                    <div>
                      <strong><%= link_to u.name, u%></strong>
                      <% if u.has_role? :group_manager, @group %>
                        <span class="small-font">
                          <%= "관리자" %>
                        </span>
                      <% end %>
                    </div>
                    <div>
                      <% lastone = (u.posts.where(post_recipient_type: "Group").pluck(:id) & PostRecipientGroup.where(recipient_group_id: @group.id).pluck(:post_id)).last %>
                      <% unless lastone.nil? %>
                        <span class="small-font">마지막 활동: <%= time_ago_in_words(Post.find(lastone).created_at) %> 전</span>
                      <% else %>
                        <span class="small-font">아직 등록한 글이 없음</span>
                      <% end %>
                    </div>
                  </div><!-- col-7 -->
                  <div class="col-5 my-auto text-center">
                    <% if !u.has_role? :group_manager, @group %>
                      <%= form_tag suspend_user_path(@group), method: "get" do %>
                        <%= hidden_field_tag :suspend_user_id, u.id %>
                        <button type="submit" class="btn btn-danger btn-sm">활동중지</button>
                      <% end %>
                    <% end %>
                  </div><!-- col-5 -->
                </div><!-- row -->
              </div><!-- media-body -->
            </div><!-- media -->
          <% end %>
        </div><!-- card-body -->
      </div><!-- card -->
    <% end %>

    <% if @suspend_users.present? %>
      <div class="card my-4 text-center additional-information">
        <div class="card-body">
          <h5 class="card-title">활동정지 회원</h5>
          <% @suspend_users.each do |u| %>
            <div class="media align-items-center">
              <div class="media-left">
                <%= link_to image_tag(user_avatar(u, 30), class: "rounded-circle", title: u.name), u %>
              </div><!-- media-left -->
              <div class="media-body content">
                <div class="row">
                  <div class="col-7">
                    <div>
                      <strong><%= link_to u.name, u%></strong>
                      <% if u.has_role? :group_manager, @group %>
                        <span class="small-font">
                          <%= "관리자" %>
                        </span>
                      <% end %>
                    </div>
                    <div>
                      <% lastone = (u.posts.where(post_recipient_type: "Group").pluck(:id) & PostRecipientGroup.where(recipient_group_id: @group.id).pluck(:post_id)).last %>
                      <% unless lastone.nil? %>
                        <span class="small-font">마지막 활동: <%= time_ago_in_words(Post.find(lastone).created_at) %> 전</span>
                      <% else %>
                        <span class="small-font">아직 등록한 글이 없음</span>
                      <% end %>
                    </div>
                  </div><!-- col-7 -->
                  <div class="col-5 my-auto text-center">
                    <% if !u.has_role? :group_manager, @group %>
                      <%= form_tag resume_user_path(@group), method: "get" do %>
                        <%= hidden_field_tag :resume_user_id, u.id %>
                        <button type="submit" class="btn btn-success btn-sm">활동재개</button>
                      <% end %>
                    <% end %>
                  </div><!-- col-5 -->
                </div><!-- row -->
              </div><!-- media-body -->
            </div><!-- media -->
          <% end %>
        </div><!-- card-body -->
      </div><!-- card -->
    <% end %>

    <% if @pending_users.present? %>
      <div class="card my-4 text-center additional-information">
        <div class="card-body">
          <h5 class="card-title">동아리 가입 요청</h5>
          <% @pending_users.each do |u| %>
            <div class="media align-items-center">
              <div class="media-left">
                <%= link_to image_tag(user_avatar(u, 30), class: "rounded-circle", title: u.name), u %>
              </div><!-- media-left -->
              <div class="media-body content">
                <div class="row">
                  <div class="col-7">
                    <div>
                      <strong><%= link_to u.name, u%></strong>
                    </div>
                  </div><!-- col-7 -->
                  <div class="col-5 my-auto text-center">
                    <% if !u.has_role? :group_manager, @group %>
                      <%= form_tag approve_user_path(@group), method: "get" do %>
                        <%= hidden_field_tag :approve_user_id, u.id %>
                        <button type="submit" class="btn btn-primary btn-sm">승인</button>
                      <% end %>
                    <% end %>
                  </div><!-- col-5 -->
                </div><!-- row -->
              </div><!-- media-body -->
            </div><!-- media -->
          <% end %>
        </div><!-- card-body -->
      </div><!-- card -->
    <% end %>

  </div><!-- d-none d-md-block col-md-4 order-md-2 md-4 text-center -->

  <div class="col-md-8 order-md-1">

    <div class="card modal-buttons mt-4">
      <div class="card-body">


      </div><!-- card-body -->
    </div><!-- card modal-buttons -->

  </div><!-- col-md-8 order-md-1 -->
</div><!-- row py-2 -->
