<div class="row py-2">

  <div class="d-none d-md-block col-md-4 order-md-2 md-4 text-center">
    <%= render 'groups_index_information_desktop' %>
  </div><!-- col-md-4 order-md-2 md-4 text-center -->

  <div class="col-md-8 order-md-1">

    <div class="card modal-buttons mt-4">
      <div class="card-body">


      </div><!-- card-body -->
    </div><!-- card modal-buttons -->

    <div class="d-block d-md-none">
      <%= render 'groups_index_information_mobile' %>
    </div>


    <div class="posts">
      <% @posts.each do |post| %>
        <!--style="width:40rem;"를 붙이면 card가 고정폭으로 변경됨-->
        <div class="post-list card my-4">
          <% if post.postable_type == "Book" %>
            <%= render 'posts/books/item_group', post: post %>
          <% elsif post.postable_type == "Message" %>
            <%= render 'posts/messages/item_group', post: post %>
          <% elsif post.postable_type == "Photo" %>
            <%= render 'posts/photos/item_group', post: post %>
          <% else %>
            <!--다른 형태의 post에 대한 처리-->
         <% end %>
        </div><!-- post-list card -->
      <% end %>
    </div><!-- posts -->

  </div><!-- col-md-8 order-md-1 -->

</div><!-- row py-2 -->

<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><%= link_to 'Show', group %></td>
        <% if can? :manage, group %>
          <td><%= link_to 'Edit', edit_group_path(group) %></td>
          <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

<p>
  <strong>Group User Post</strong>
  <table>
    <tbody>
      <% @posts.each do |post| %>
        <% group = Group.find(post.post_recipient_group.recipient_group_id) %>
        <% if post.postable_type == "Message" %>
          <div class="my-5">
            <tr>
              <td><%= group.name %></td>
              <td><%= post.content %></td>
              <td>
                by <%= link_to post.user.name, post.user %>
              </td>
              <% if current_user.has_role? :group_manager, group or can? :manage, post %>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          </div>
        <% elsif post.postable_type == "Photo" %>
          <div class="my-5">
            <tr>
              <td><%= group.name %></td>
              <td>
                <%= post.content %>
                <div class="photo-images">
                  <% post.postable.images.each do |image| %>
                    <%= link_to image_tag(image.variant(resize: "400x400")), image %>
                  <% end %>
                </div>
              </td>
              <td>
                by <%= link_to post.user.name, post.user %>
              </td>
              <% if current_user.has_role? :group_manager, group or can? :manage, post %>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          </div>
        <% elsif post.postable_type == "Book" %>
          <div class="my-5">
            <tr>
              <td><%= group.name %></td>
              <td>
                <%= post.postable.title %>
                <%= post.content %>
                <%= link_to image_tag(book_thumbnail150(post.postable.thumbnail), class: "border", width:'150px'), post.postable %>
              </td>
              <td>
                by <%= link_to post.user.name, post.user %>
              </td>
              <% if current_user.has_role? :group_manager, group or can? :manage, post %>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          </div>
        <% else %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>
