<div class="row py-2">

  <div class="d-none d-md-block col-md-4 order-md-2 md-4 text-center">
    <%= render 'information_desktop' %>
  </div><!-- col-md-4 order-md-2 md-4 text-center -->

  <div class="col-md-8 order-md-1">

    <div class="card modal-buttons mt-4">
      <div class="card-body">

        <!-- Button trigger modal -->
        <div class="d-none d-md-block">
          <div class="row">
            <div class="col-4">
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalBook">
                책짹<i class="fas fa-dove ml-2"></i>
              </button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalMessage">
               글 남기기
              </button>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-primary btn-block " data-toggle="modal" data-target="#modalPhoto">
               사진 올리기
              </button>
            </div>
          </div><!-- row -->
        </div>

      </div><!-- card-body -->
    </div><!-- card modal-buttons -->

    <div class="d-block d-md-none">
      <%= render 'information_mobile' %>
    </div>


    <div class="posts">
      <% @posts.each do |post| %>
        <!--style="width:40rem;"를 붙이면 card가 고정폭으로 변경됨-->
        <div class="post-list card my-4">
          <% if post.postable_type == "Book" %>
            <%= render 'posts/books/item_group', post: post %>
          <% elsif post.postable_type == "Message" %>
            <%= render 'posts/messages/item_group', post: post %>
          <% elsif post.postable_type == "Photo" %>
            <%= render 'posts/photos/item_group', post: post %>
          <% else %>
            <!--다른 형태의 post에 대한 처리-->
         <% end %>
        </div><!-- post-list card -->
      <% end %>
    </div><!-- posts -->

  </div><!-- col-md-8 order-md-1 -->

</div><!-- row py-2 -->

<!-- Modal -->
<div class="modal fade" id="modalBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_tag book_search_path, method: :get do %>
        <%= hidden_field_tag :receiverrr_type, "Group" %>
        <%= hidden_field_tag :receiverrr_id, @group.id %>

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">
            <%= image_tag user_avatar(current_user, 30), class: "rounded-circle" %>
            <%= current_user.name %>님,
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <%= text_field_tag :keyword_book, params[:keyword_book], require: true, class: "form-control search-book-input", placeholder: "어떤 책을 읽었나요?" %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          <%= submit_tag "책 찾기", class: "btn btn-primary" %>
        </div>

      <% end %>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal fade -->

<!-- Modal -->
<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_for(@message) do | f | %>

        <%= hidden_field_tag :receiverrr_id, @group.id %>

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">
            <%= image_tag user_avatar(current_user, 30), class: "rounded-circle" %>
            <%= current_user.name %>님,
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <%= f.fields_for :posts do | p | %>
            <%= p.hidden_field :post_recipient_type, value: "Group" %>
            <%= p.text_area :content, id: "textarea", class: "form-control counted", maxlength: '200', require: true, placeholder: "어떤 이야기를 나눌까요?" %>
          <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          <%= f.submit "글 남기기", class: "btn btn-primary" %>
        </div>

      <% end %>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal fade -->

<!-- Modal -->
<div class="modal fade" id="modalPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <%= form_for(@photo) do | f | %>
        <%= hidden_field_tag :receiverrr_id, @group.id %>

        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">
            <%= image_tag user_avatar(current_user, 30), class: "rounded-circle" %>
            <%= current_user.name %>님,
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <%= f.file_field :images, multiple: true %>

          <%= f.fields_for :posts do | p | %>
            <%= p.hidden_field :post_recipient_type, value: "Group" %>
            <%= p.text_area :content, id: "textarea", class: "form-control counted", maxlength: '200', require: true, placeholder: "어떤 사진인가요?" %>
          <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
          <%= f.submit "사진 올리기", class: "btn btn-primary" %>
        </div>

      <% end %>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal fade -->




<p id="notice"><%= notice %></p>

<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Group Users:</strong>
  <table>
    <tbody>
      <% @active_users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.name, user %>
            (
            <% user.roles.each do |r| %>
              <% if r.resource_id == @group.id %>
                <%= r.name %>
              <% end %>
            <% end %>
            )
          </td>
          <% if current_user.has_role? :group_manager, @group and !user.has_role? :group_manager, @group %>
            <td>
                <%= form_tag suspend_user_path(@group) do %>
                  <%= hidden_field_tag :suspend_user_id, user.id %>
                  <button type="submit" class="btn btn-lg">Suspend</button>
                <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<p>
  <strong>Request to Join</strong>
  <table>
    <tbody>
      <% @pending_users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <% if user == current_user %>
            <td>
              <%= form_tag cancel_apply_group_path(@group), method: "delete" do %>
                <%= hidden_field_tag :apply_user_id, user.id %>
                <button type="submit" class="btn btn-lg">Cancel</button>
              <% end %>
            </td>
          <% end %>
          <% if current_user.has_role? :group_manager, @group %>
            <td>
              <%= form_tag approve_user_path(@group) do %>
                <%= hidden_field_tag :apply_user_id, user.id %>
                <button type="submit" class="btn btn-lg">Approve</button>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <% if !current_user.groups.include?(@group) %>
    <%= form_tag apply_group_path(@group) do %>
      <button type="submit" class="btn btn-lg">Apply</button>
    <% end %>
  <% elsif current_user.user_groups.find_by_group_id(@group.id).state == "active" %>
    <%= form_tag leave_group_path(@group) do %>
      <%= link_to "Leave", { action: 'leave_group' }, class: 'btn btn-lg', method: 'delete', data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</p>

<p>
  <% unless current_user.has_role? :group_member, @group %>
    테스트지만 그룹 멤버가 아니면... 여기서 포스트를 보여주지 않게 만들 수 있지 않을까?
  <% end %>
</p>

<p>
  <strong>Group User Post</strong>
  <table>
    <tbody>
      <% @posts.each do |post| %>
        <% if post.postable_type == "Message" %>
          <div class="my-5">
            <tr>
              <td><%= post.content %></td>
              <td>
                by <%= link_to post.user.name, post.user %>
              </td>
              <% if current_user.has_role? :group_manager, @group or can? :manage, post %>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          </div>
        <% elsif post.postable_type == "Photo" %>
          <div class="my-5">
            <tr>
              <td>
                <%= post.content %>
                <div class="photo-images">
                  <% post.postable.images.each do |image| %>
                    <%= link_to image_tag(image.variant(resize: "400x400")), image %>
                  <% end %>
                </div>
              </td>
              <td>
                by <%= link_to post.user.name, post.user %>
              </td>
              <% if current_user.has_role? :group_manager, @group or can? :manage, post %>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          </div>
        <% elsif post.postable_type == "Book" %>
          <div class="my-5">
            <tr>
              <td>
                <%= post.postable.title %>
                <%= post.content %>
                <%= link_to image_tag(book_thumbnail150(post.postable.thumbnail), class: "border", width:'150px'), post.postable %>
              </td>
              <td>
                by <%= link_to post.user.name, post.user %>
              </td>
              <% if current_user.has_role? :group_manager, @group or can? :manage, post %>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          </div>
        <% else %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>

<div class="my-5">
  <%= form_tag book_search_path, method: :get do %>
    <%= hidden_field_tag :receiverrr_type, "Group" %>
    <%= hidden_field_tag :receiverrr_id, @group.id %>
    <%= text_field_tag :keyword_book, params[:keyword_book], require: true, class: "form-control search-book-input", placeholder: "어떤 책을 읽었나요?" %>
    <%= submit_tag "책 찾기", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="my-5">
  <%= form_for(@message) do |f| %>
    <%#= f.hidden_field :sender_id, value: current_user.id %>
    <%#= f.hidden_field :receiver_id, value: @group.id %>
    <%#= hidden_field_tag :receiverrr_type, "Group" %>
    <%= hidden_field_tag :receiverrr_id, @group.id %>

    <div class="field">
      <%= f.fields_for :posts do |p| %>
        <%#= p.hidden_field :user_id, value: current_user.id %>
        <%#= p.hidden_field :receiverrr_id, value: @group.id %>
        <%#= p.hidden_field :receiverrr_type, value: "Group" %>

        <%= p.hidden_field :post_recipient_type, value: 'Group' %>
        <%= p.text_area :content %>
      <% end %>
    </div>

    <%= f.submit %>
  <% end %>
</div>

<div class="my-5">
  <%= form_for(@photo) do |f| %>
    <%= hidden_field_tag :receiverrr_id, @group.id %>

    <div class="field">
      <%= f.file_field :images, multiple: true %>
      <%= f.fields_for :posts do |p| %>
        <%= p.hidden_field :post_recipient_type, value: 'Group' %>
        <%= p.text_area :content %>
      <% end %>
    </div>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
