<p id="notice"><%= notice %></p>

<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Group Users:</strong>
  <table>
    <tbody>
      <% @active_users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.name, user %>
            (
            <% user.roles.each do |r| %>
              <% if r.resource_id == @group.id %>
                <%= r.name %>
              <% end %>
            <% end %>
            )
          </td>
          <td>
            <% if current_user.has_role? :group_manager, @group and !user.has_role? :group_manager, @group %>
              <%= form_tag suspend_user_path(@group) do %>
                <%= hidden_field_tag :suspend_user_id, user.id %>
                <button type="submit" class="btn btn-lg">Suspend</button>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<p>
  <strong>Request to Join</strong>
  <table>
    <tbody>
      <% @pending_users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td>
            <% if user == current_user %>
                <%= form_tag cancel_apply_group_path(@group), method: "delete" do %>
                  <%= hidden_field_tag :apply_user_id, user.id %>
                  <button type="submit" class="btn btn-lg">Cancel</button>
                <% end %>
            <% end %>
          </td>
          <td>
            <% if current_user.has_role? :group_manager, @group %>
                <%= form_tag approve_user_path(@group) do %>
                  <%= hidden_field_tag :apply_user_id, user.id %>
                  <button type="submit" class="btn btn-lg">Approve</button>
                <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<p>
  <% if !current_user.groups.include?(@group) %>
    <%= form_tag apply_group_path(@group) do %>
      <button type="submit" class="btn btn-lg">Apply</button>
    <% end %>
  <% elsif current_user.user_groups.find_by_group_id(@group.id).state == "active" %>
    <%= form_tag leave_group_path(@group) do %>
      <%= link_to "Leave", { action: 'leave_group' }, class: 'btn btn-lg', method: 'delete', data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</p>

<p>
  <% unless current_user.has_role? :group_member, @group %>
    테스트지만 그룹 멤버가 아니면... 여기서 포스트를 보여주지 않게 만들 수 있지 않을까?
  <% end %>
</p>

<p>
  <strong>Group User Post</strong>
  <table>
    <tbody>
      <% @posts.each do |post| %>
        <% if post.postable_type == "Message" %>
          <tr>
            <td><%= post.content %></td>
            <td>
              by <%= link_to post.user.name, post.user %>
            </td>
            <% if current_user.has_role? :group_manager, @group or can? :manage, post %>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</p>

<%= form_for(@message) do |f| %>
  <%#= f.hidden_field :sender_id, value: current_user.id %>
  <%#= f.hidden_field :receiver_id, value: @group.id %>
  <%#= hidden_field_tag :receiverrr_type, "Group" %>
  <%= hidden_field_tag :receiverrr_id, @group.id %>

  <div class="field">
    <%= f.fields_for :posts do |p| %>
      <%#= p.hidden_field :user_id, value: current_user.id %>
      <%#= p.hidden_field :receiverrr_id, value: @group.id %>
      <%#= p.hidden_field :receiverrr_type, value: "Group" %>

      <%= p.hidden_field :post_recipient_type, value: 'Group' %>
      <%= p.text_area :content %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
