<div class="row py-2">

  <div class="d-none d-md-block col-md-4 order-md-2 md-4 text-center">
    <%= render 'information_desktop' %>
  </div><!-- d-none d-md-block col-md-4 order-md-2 md-4 text-center -->

  <div class="col-md-8 order-md-1">

    <div class="card modal-buttons mt-4">
      <div class="card-body">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMessage">
         글 남기기
        </button>
      </div><!-- card-body -->
    </div><!-- card -->

    <div class="d-block d-md-none">
      <%= render 'information_mobile' %>
    </div>

    <div class="posts">
      <% @posts.each do |post| %>
        <!--style="width:40rem;"를 붙이면 card가 고정폭으로 변경됨-->
        <div class="post-list card my-4">
          <% if post.postable_type == "Book" %>
            <%= render 'posts/books/item', post: post %>
          <% elsif post.postable_type == "Message" %>
            <%= render 'posts/messages/item', post: post %>
          <% elsif post.postable_type == "Photo" %>
            <%= render 'posts/photos/item', post: post %>
          <% else %>
            <!--다른 형태의 post에 대한 처리-->
         <% end %>
        </div><!-- post-list card -->
      <% end %>
    </div><!-- posts -->

    <!-- Modal -->
    <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <%= form_for(@message) do | f | %>

            <%= f.hidden_field :sender_id, :value => current_user.id %>
            <%= f.hidden_field :receiver_id, :value => @user.id %>

            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">
                <% if current_user.id == @user.id %>
                  <%= image_tag user_avatar(current_user, 30), class: "rounded-circle" %>
                  <%= current_user.name %>님,
                <% else %>
                  <%= image_tag user_avatar(current_user, 30), class: "rounded-circle" %>
                  <span class="align-middle mx-1" style="padding-top: 4px"><i class="fas fa-angle-double-right"></i></span>
                  <%= image_tag user_avatar(@user, 30), class: "rounded-circle" %>
                  <%= current_user.name %>님이 <%= @user.name %>님께,
                <% end %>
              </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
              <%= f.fields_for :posts do | p | %>
                <%= p.hidden_field :user_id, :value => current_user.id %>
                <%= p.text_area :content, id: "textarea", class: "form-control counted", maxlength: '200', require: true, placeholder: "어떤 이야기를 나눌까요?" %>
              <% end %>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
              <%= f.submit "글 남기기", class: "btn btn-primary" %>
            </div>

          <% end %>

        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

  </div><!-- col-md-8 order-md-1 -->
</div><!-- row -->
