<% unless @keyword_book.present? %>

  <h1>검색어를 입력하세요.</h1>

<% else %>

  <% if @items.present? %>

    <div class="book-search-title">
      <h4><b class="text-warning"><%= @keyword_book %></b> 책 찾기</h4>
    </div>

    <div class="book-search-result">

      <% @items.each do |item| %>

        <div class="item media">
          <%= image_tag extract_thumbnail110_url(strip_tags(item['thumbnail'])), class: "item-thumbnail" %>

          <div class="info media-body">
            <div class="title">
              <%#= link_to item['title'].html_safe,
                new_book_path(
                  title: strip_tags(item['title']),
                  contents: strip_tags(item['contents']),
                  url: strip_tags(item['url']),
                  isbn: strip_tags(item['isbn']),
                  datetime: strip_tags(item['datetime'][0..9]),
                  authors: strip_tags(item['authors'].join(",")),
                  publisher: strip_tags(item['publisher']),
                  translators: strip_tags(item['translators'].join(",")),
                  thumbnail: strip_tags(item['thumbnail'])) %>

                <% index = @items.find_index(item) %>
                <a href='#' , data-toggle="modal" data-target="#modal-<%= index %>">
                  <%= item['title'].html_safe %>
                </a>
            </div>

            <div class="writers text-muted">
              <% if item['authors'].present? %>
                <%= item['authors'].join(",").html_safe %><span>저</span> | 
              <% end %>
              <% if item['translators'].present? %>
                <%= item['translators'].join(",").html_safe %><span>역</span> | 
              <% end %>
              <% if item['publisher'].present? %>
                <%= item['publisher'].html_safe %> | 
              <% end %>
              <% if item['datetime'].present? %>
                <%= item['datetime'][0..9] %>
              <% end %>
            </div>

            <div class="contents">
              <%= item['contents'].html_safe %>
            </div>

          </div><!-- info media-body -->
        </div><!-- item media -->


        <!-- Modal -->
        <div class="modal fade" id="modal-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                  <%= image_tag user_avatar(current_user, 30), class: "rounded-circle" %>
                  <%= current_user.name %>님,
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>

              <div class="modal-body">
                <div class="book-image">
                  <!--book image-->
                  <%= image_tag extract_thumbnail250_url(item['thumbnail']), class: "border mx-3", width: "250px" %>
                </div>

                <%= item['title'] %>
                <%= item['authors'] %>
                <%= item['translators'] %>
                <%= item['publisher'] %>
                <%= item['datetime'] %>
                <%= item['contents'] %>

                <%= form_for(@book) do |form| %>

                  <%= hidden_field_tag :receiverrr_id, params[:receiverrr_id].html_safe %>

                  <%= form.hidden_field :title, value: item['title'].html_safe %>
                  <%= form.hidden_field :contents, value: item['contents'].html_safe %>
                  <%= form.hidden_field :url, value: item['url'].html_safe %>
                  <%= form.hidden_field :isbn, value: item['isbn'].html_safe %>
                  <%= form.hidden_field :datetime, value: item['datetime'].html_safe %>
                  <%= form.hidden_field :authors, value: item['authors'] %>
                  <%= form.hidden_field :translators, value: item['translators'] %>
                  <%= form.hidden_field :publisher, value: item['publisher'].html_safe %>
                  <%= form.hidden_field :thumbnail, value: item['thumbnail'].html_safe %>

                  <%= form.fields_for :posts do |posts_field| %>
                    <%= posts_field.hidden_field :post_recipient_type, value: params[:receiverrr_type].html_safe %>
                    <%= posts_field.text_area :content, id: "textarea", class: 'form-control counted', style: 'margin-bottom:10px;', maxlength: '200', require: true, placeholder: '이 책을 읽고 무엇을 느꼈나요?' %>
                  <% end %>

                  <%= form.submit '책짹', class: 'btn btn-info' %>

                <% end %>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                <%#= submit_tag "책 찾기", class: "btn btn-primary" %>
              </div>


            </div><!-- modal-content -->
          </div><!-- modal-dialog -->
        </div><!-- modal fade -->

      <% end %>

    </div><!-- book-search-result -->

  <% end %>

  <div class="book-search-result-pagination">
    <nav aria-label="Page navigation">
    <!--pagination 처리 : 걍 의식의 흐름대로 코딩했는데... 나중에 어떤 오류가 발생할지 장담할 수 없음-->
      <ul class="pagination justify-content-center">
        <% if @current_page > 3  %>
          <li class="page-item"><%= link_to 1, book_search_path(keyword_book: @keyword_book, page: 1), class: "page-link" %></li>
          <li class="page-item"><%= link_to '...', book_search_path(keyword_book: @keyword_book, page: @start_index - 1), class: "page-link" %></li>
        <% end %>

        <% @start_index.upto(@end_index) do |p| %>
          <% if p == @current_page %>
            <li class="page-item active"><%= link_to "#{p}", book_search_path(keyword_book: @keyword_book, page: p), class: "page-link" %></li>
          <% else %>
            <li class="page-item"><%= link_to p, book_search_path(keyword_book: @keyword_book, page: p), class: "page-link" %></li>
          <% end %>
        <% end %>

        <% if @max_index > 5 && @current_page < @max_index - 2 %>
          <li class="page-item"><%= link_to '...', book_search_path(keyword_book: @keyword_book, page: @end_index + 1), class: "page-link" %></li>
          <li class="page-item"><%= link_to @max_index, book_search_path(keyword_book: @keyword_book, page: @max_index), class: "page-link" %></li>
        <% end %>
      </ul>
      <div>
        <% if @is_end == 'true' %>
          마지막 페이지입니다
        <% end %>
      </div>
    </nav>
  </div>

<% end %>
