<div class="card my-4 text-center">
  <div class="profile-image">
    <%= image_tag user_avatar(current_user, 150), class: "rounded-circle", style: "padding: 30px;" %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong><%= current_user.name %></strong>님</h5>
    <div class="row follow-counter">
      <div class="col-4", style="text-align: center; padding: 0 5px;">
        <div>책짹</div>
        <div><strong><%= current_user.posts_count %></strong></div>
      </div>
      <div class="col-4", style="text-align: center; padding: 0 5px;">
        <div>팔로잉</div>
        <div><strong><%= current_user.followees.count %></strong></div>
      </div>
      <div class="col-4", style="text-align: center; <padding></padding>: 0 5px;">
        <div>팔로워</div>
        <div><strong><%= current_user.followers.count %></strong></div>
      </div>
    </div><!-- row follow-counter -->
  </div><!-- card-body -->
</div><!-- card -->

<div class="card my-4 text-center additional-information">
  <div class="card-body">
    <div class="title">팔로우 추천</div>
    <div class="mb-info-list">
      <% @suggested_friends_by_followers.each do |u| %>
        <div class="media align-items-center">
          <div class="media-left">
          <%= link_to image_tag(user_avatar(u, 30), class: "rounded-circle", title: u.name), u %>
          </div>
          <div class="media-body content">
            <strong><%= link_to u.name, u%></strong><span class="small-font">님 팔로워</span><strong><%= u.followers.count %></strong>
            <span class="small-font"> 책짹</span><strong><%= u.posts_count %></strong>
          </div>
        </div><!-- row -->
      <% end %>
    </div><!-- info-list -->
  </div><!-- card-body -->
</div><!-- card -->

<div class="card my-4 text-center additional-information">
  <div class="card-body">
    <div class="title">최근 책짹</div>
    <div class="mb-info-list">
      <% @recent_posts.each do |p| %>
        <div class="media align-items-center">
          <div class="media-left">
            <%= link_to image_tag(user_avatar(p.user, 30), class: "rounded-circle", title: p.user.name), p.user %>
          </div>
          <div class="media-body content">
            <div>
              <strong><%= link_to p.user.name, p.user %></strong><span class="small-font">님 <%= "#{time_ago_in_words(p.created_at)} 전" %></span>
            </div>
            <div class="overflowed-mb-content">
              <span class="small-font"><%= link_to p.content, p %></span>
            </div>
          </div>
        </div><!-- row -->
      <% end %>
    </div><!-- info-list -->
  </div><!-- card-body -->
</div><!-- card -->

<div class="card my-4 text-center additional-information">
  <div class="card-body">
    <div class="title">가장 많은 좋아요를 받은 책짹</div>
    <div class="mb-info-list">
      <% @favorite_posts.each do |p| %>
        <div class="media align-items-center">
          <div class="media-left">
            <%= link_to image_tag(user_avatar(p.user, 30), class: "rounded-circle", title: p.user.name), p.user %>
          </div>
          <div class="media-body content">
            <div>
              <strong><%= link_to p.user.name, p.user %></strong>
              <span class="small-font">님
                <% if !p.like_users.include?(current_user)%>
                  <%= link_to( content_tag(:i, "",class: ["far", "fa-thumbs-up"]), like_post_path(p), method: :post )%>
                <% else %>
                  <%= link_to( content_tag(:i, "",class: ["fas", "fa-thumbs-up"]), like_post_path(p), method: :post )%>
                <% end %>
                <% if p.like_users.count > 0 %>
                  <span class="badge badge-primary badge-pill"><%= p.like_users.count %></span>
                <% end %>
              </span>
            </div>
            <div class="overflowed-mb-content">
              <span class="small-font"><%= link_to p.content, p %></span>
            </div>
          </div><!-- col-md-10 info -->
        </div><!-- row -->
      <% end %>
    </div><!-- info-list -->
  </div><!-- card-body -->
</div><!-- card -->
