<!-- _list와 쪼금 다른 점은 홈으로 가기 버튼이 있음 -->
<div class="post-list card my-4">
  <% if @post.postable_type == "Book" %>

    <!--포스트 내용-->
    <div class="post-content media">

      <!--책 이미지-->
      <%= link_to image_tag(book_thumbnail150(@post.postable.thumbnail), class: "border mx-3", width:'150px'), @post.postable %>

      <div class="media-body">
        <!--책 제목-->
        <h6 class="card-title mb-2"><%= link_to @post.postable.title, @post.postable %></h6>
        <!--저자-->
        <div class="card-subtitle mb-2 text-muted"><%= @post.postable.authors %></div>

        <!--포스트 정보-->
        <div class="information">
          <%= "#{time_ago_in_words(@post.created_at)} 전에" %> <%= link_to @post.user.name, @post.user %>님이 작성했습니다.
          
          <!-- fontawesome으로 만든 좋아요 버튼 -->
          <% if !@post.like_users.include?(current_user)%>
            <%= link_to( content_tag(:i, "",class: ["far", "fa-thumbs-up"]), like_post_path(@post), method: :post )%>
          <% else %>
            <%= link_to( content_tag(:i, "",class: ["fas", "fa-thumbs-up"]), like_post_path(@post), method: :post )%>
          <% end %>

          <% if @post.like_users.count > 0 %>
            <span class="badge badge-primary badge-pill"><%= @post.like_users.count %></span>
          <% end %>
          
          <!--수정, 삭제 버튼-->
          <% if can? :manage, @post %>
            <%= link_to( content_tag(:i, "",class: ["fas", "fa-edit"]), edit_post_path(@post) )%>
            <%= link_to( content_tag(:i, "",class: ["far", "fa-times-circle"]), post_path(@post), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } )%>
          <% end %>
          
          <!--홈으로 가기 버튼-->
          <%= link_to( content_tag(:i, "",class: ["fas", "fa-home"]), root_path )%>

        </div><!-- information -->
        
        <!-- 해시태그를 처리한 본문 -->
        <div class="content">
          <%= render_with_hashtags(@post.content) %>
        </div>

      </div><!-- media-body -->
    </div><!-- post-content media -->

  <% elsif @post.postable_type == "Message" %>

    <% sender = User.find(@post.postable.sender_id) %>
    <% receiver = User.find(@post.postable.receiver_id) %>

    <!--포스트 내용-->
    <div class="post-content media">

      <% if sender.id != receiver.id %>
        <%= link_to image_tag(avatar_url(sender), class: "rounded-circle user-photo ml-3", title: sender.name), sender %>
        <span class="align-middle mx-1" style="padding-top: 4px"><i class="fas fa-angle-double-right"></i></span>
        <%= link_to image_tag(avatar_url(receiver), class: "rounded-circle user-photo mr-3", title: receiver.name), receiver %>
      <% else %>
        <%= link_to image_tag(avatar_url(@post.user), class: "rounded-circle user-photo mx-3", title: @post.user.name), @post.user %>
      <% end %>

      <div class="media-body">
        <!--포스트 정보-->
        <div class="information">

          <% if sender.id != receiver.id %>
            <%= "#{time_ago_in_words(@post.created_at)} 전에" %> <%= link_to sender.name, sender %>님이 <%= link_to receiver.name, receiver %>님께 글을 남겼습니다.
          <% else %>
            <%= "#{time_ago_in_words(@post.created_at)} 전에" %> <%= link_to @post.user.name, @post.user %>님이 글을 남겼습니다.
          <% end %>

          <!-- fontawesome으로 만든 좋아요 버튼 -->
          <% if !@post.like_users.include?(current_user)%>
            <%= link_to( content_tag(:i, "",class: ["far", "fa-thumbs-up"]), like_post_path(@post), method: :post )%>
          <% else %>
            <%= link_to( content_tag(:i, "",class: ["fas", "fa-thumbs-up"]), like_post_path(@post), method: :post )%>
          <% end %>

          <% if @post.like_users.count > 0 %>
            <span class="badge badge-primary badge-pill"><%= @post.like_users.count %></span>
          <% end %>

          <!--수정, 삭제 버튼-->
          <% if can? :manage, @post %>
            <%= link_to( content_tag(:i, "",class: ["fas", "fa-edit"]), edit_post_path(@post) )%>
            <%= link_to( content_tag(:i, "",class: ["far", "fa-times-circle"]), post_path(@post), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } )%>
          <% end %>

          <!--홈으로 가기 버튼-->
          <%= link_to( content_tag(:i, "",class: ["fas", "fa-home"]), root_path )%>

        </div><!-- information -->

        <!-- 해시태그를 처리한 본문 -->
        <div class="content">
          <%= render_with_hashtags(@post.content) %>
        </div>

      </div><!-- media-body -->
    </div><!-- post-content media -->

  <% end %>

  <!--post show _item 댓글-->
  <div>
    <%= render 'comments/comments', post: @post %>
  </div>

</div><!-- post-list card -->
