<p id="notice"><%= notice %></p>

<div class="book-search-form">
  <%= form_tag book_search_path, method: :get, class: "input-group mt-4" do %>
    <%= text_field_tag :keyword_book, params[:keyword_book], require: true, class: "form-control search-book-input", placeholder: "어떤 책을 읽었나요?" %>
    <div class="input-group-btn">
      <%= submit_tag '책 찾기', class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>


<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>내용</th>
      <th>사용자</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= link_to post.user.name, post.user %></td>
        <td><%= link_to 'Show', post %></td>

        <% if can? :manage, post %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
