<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Likes:</strong>
    <%= @post.like_users.count %>
</p>

<p>
  <%= link_to 'Like', like_post_path, method: :post %>
</p>

<%= @post.like_users.ids %>

<p>
  <%= render "comments/comments" %>
</p>


<% if can? :manage, @post %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>

<%= link_to 'Back', posts_path %>
