<footer class="footer">

  <div id="flash_messages">
    <%= flash_messages(:close) %>
  </div>

  <div id="debug">
    <%= debug(params) if Rails.env.development? %>
  </div>

  <div class="contents">
    <small>
      <%= link_to '책짹', root_path %>
      Since 2018
    </small>

    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>
