<!DOCTYPE html>
<html>
  <head>
    <title>Checkjjaek3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <% if !devise_controller? %>
      <%= render 'layouts/navbar' %>
      <div class="container" style="padding-top: 60px">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <%= render 'layouts/footer' %>
  </body>
</html>
