<!DOCTYPE html>
<html>
  <head>
    <title>Checkjjaek3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to '사용자 정보수정', edit_user_registration_path %>

    <% if user_signed_in? %>
      <%= link_to current_user.name, current_user %>
      <%= link_to :로그아웃, destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to :로그인, new_user_session_path %>
    <% end %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
